
/* the whole body where the pic and the paragraph are located  */ 

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
	background-color :#ABABAB;
	text-align: center;
}


/* The Top of the page */ 

header {
	height: 140px;
	background-color:#00C700;
	font-size : 12px;
	margin: 0px;
	
}


/* where it said John Sian */

header h1{
	background-color:#1FFF1F;
	margin: 0px;	
	
}


/* where it said student */

header h2 {
	background-color:#FFFFFF;
	margin: 0px;
}

/* where it said Hi I'm John Sian */

header h3{ 
	background-color:#030303;
	margin: 0px;
}


/* Just showing the text for all the header */

h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  text-align: center;
  font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0;
}
{
a:link { 
	background-color: #F5F5F5;
}
a:visited { color: #38786a; }
a:hover { color: #403933; }
a:active { color: #403933; }
a:hover {
	text-decoration: underline;	
}
	
	/* underneath of the pic to all the way before footer */

section {
	padding: 0 25%;
  margin: 80px 0;
}

	


	/* the bottom part of the page */
footer p {
	background-color:#003300;
	text-align: left;
        padding: 30px;
         margin: 0;
        font-size : 12px;
}

	

