
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
	background-color : blue;
	}

header {
	height: 140px;
	background-color: green;
}


header h1{
	font-family: 'Montserrat', serif;
	color: red;
	margin: 0px;
	font-size: 42px;
	text-align: center;
}


header h2 {
	font-family: 'Montserrat', serif;
	color: red;
	margin: 0px;
	font-size: 18px;
	text-align: center;
}

footer {
	background-color: green;
}

section {
	padding: 0 25%;
  margin: 80px 0;
}


h1, h2, h3 {
  font-family: 'Montserrat Alternates', sans-serif;
	color:white;
  text-align: center;
  font-weight: 500;
}

h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }

p, li {
 font-family: 'Montserrat', sans-serif;
 line-height: 1.5em;
 margin-bottom: 0;
}
{
a:link { color: #38786a; }
a:visited { color: #38786a; }
a:hover { color: #403933; }
a:active { color: #403933; }
a:hover {
	text-decoration: underline;	
}


footer p {
	color:black;	
	text-align: center;
  padding: 30px;
  margin: 0;
}



.border-top {
  padding-top: 80px;
  border-top: 2px solid #f4ede7;
}
